<div class="left-box">
  <div class="container">
    <%= form_with(model: @enban, local: true) do |form| %>
      <h3>
        編集する
      </h3>
      <%= form.text_field :title, placeholder: "Title" %>
      <%= form.text_field :artist, placeholder: "Artist name" %>
      <%= form.text_field :name, placeholder: "Nickname" %>
      <%= form.text_field :image, placeholder: "Image Url" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>